.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.today {
  color: var(--text-primary);
  font-size: var(--text-medium);
  font-weight: 200;
  margin-bottom: clamp(0.25rem, 0.5vw, 0.5rem);
}

.cityName {
  color: var(--text-primary);
  font-size: var(--text-medium);
}

.weatherEmoji {
  width: max(5%, 5rem);
  height: auto;
  object-fit: cover;
}

.weatherDescription {
  color: var(--text-primary);
  font-size: var(--text-medium);
  font-weight: 200;
}

.cityTemp {
  color: var(--text-primary);
  font-size: calc(var(--text-large) + 1.75rem);
  font-weight: 300;
  margin-bottom: clamp(1rem, 1.25vw, 1.25rem);
}

.metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-large);
}

.humidity,
.windSpeed {
  color: var(--text-primary);
  font-weight: 250;
}

.humidity span,
.windSpeed span {
  font-weight: 400;
}

.errorMsg {
  color: var(--error);
  font-size: var(--text-large);
  text-align: center;
  padding: var(--padding-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingIndicatorWrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingIndicator {
  width: clamp(5rem, 7vw, 8rem);
  height: clamp(5rem, 7vw, 8rem);
  border-radius: 50%;
  border: clamp(3px, 1vw, 5px) solid transparent;
  border-top: clamp(3px, 1vw, 5px) solid var(--accent);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  .today,
  .cityName,
  .weatherDescription,
  .humidity,
  .windSpeed {
    font-size: calc(var(--text-large) - 0.3rem);
  }
}
