.locationWrapper {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
}

.labelMessage {
  color: var(--text-primary);
  font-size: calc(var(--text-small) + 0.1rem);
  white-space: nowrap;
}

.buttonsWrapper {
  flex: 1 1 20%;
  display: flex;
}

.toggleBtn {
  cursor: pointer;
  padding: var(--padding-small) var(--padding-large);
  background-color: var(--bg-card);
  color: var(--text-secondary);
  font-size: calc(var(--text-small) - 0.15rem);
  border: none;
}

.activeBtn {
  background-color: var(--border);
  color: var(--text-primary);
}

.toggleBtn:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.toggleBtn:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media (min-width: 640px) {
  .locationWrapper {
    align-self: start;
  }

  .toggleBtn {
    width: 100%;
  }
}
