.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-large);
  gap: var(--gap-large);
}

@media (min-width: 640px) {
  .header {
    flex-direction: row-reverse;
  }
}
