.forecastCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-card);
  padding: var(--padding-medium) calc(var(--padding-large) + 1rem);
  border-radius: var(--border-radius);
  cursor: pointer;
  flex: 1 1 auto;
}

.time {
  color: var(--text-primary);
}

.temp {
  color: var(--text-secondary);
  font-weight: 200;
}

.selectedTime {
  background-color: var(--border);
}

@media (min-width: 640px) {
  .time,
  .temp {
    font-size: var(--text-medium);
  }

  .forecastCard {
    gap: var(--gap-small);
  }
}
