.combobox {
  flex: 1 1 80%;
  position: relative;
}

.searchBar,
.suggestionsList {
  width: 100%;
  max-width: 750px;
  background-color: var(--bg-card);
  border: none;
  outline: none;
  border-radius: 0;
  color: var(--text-primary);
}

.searchBar {
  font-size: var(--text-medium);
  padding: var(--padding-small) var(--padding-medium);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.searchBar:focus {
  border: 1px solid var(--accent);
}

.searchBar::placeholder {
  font-size: var(--text-small);
  color: var(--text-secondary);
}

.suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  max-height: 110px;
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.option {
  cursor: pointer;
  padding: var(--padding-small) var(--padding-medium);
  font-size: calc(var(--text-small) + 0.1rem);
}

.option:hover,
.option:active {
  background-color: var(--border);
}

.suggestionsList::-webkit-scrollbar {
  width: 0.5rem;
}

.suggestionsList::-webkit-scrollbar-track {
  background: transparent;
}

.suggestionsList::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--accent);
  border-radius: 10px;
}

.add_Border_Bottom_Radius {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

@media (min-width: 640px) {
  .suggestionsList {
    max-height: 125px;
  }
}
